<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Us</h6>
                    <p>
                        BrewBox is the best online coffee shop because we offer top-quality products from the best coffee brands in the industry.
                        Feel free to contact us if you need any further information of our services.
                    </p>
                    <p class="footer-text">
                        Copyright ©
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>