<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Add Brand</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>


<div class="container">
    <h2 class="text-center text-white">Add a Brand</h2>
    <form th:action="@{/brands/add}"
          th:method="post"
          th:object="${brandDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="name" class="text-white font-weight-bold">Name</label>
                <input
                        id="name"
                        th:field="*{name}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Name is required and should be between 2 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="description" class="text-white font-weight-bold">Description</label>
                <textarea
                        id="description"
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="textarea"
                        class="form-control"
                        rows="3"
                        placeholder="Description"></textarea>
                <p class="invalid-feedback errors alert alert-danger">
                    Description is required and should be at least 5 symbols.
                </p>
            </div>
            <div class="form-group">
                <label for="imageUrl" class="text-white font-weight-bold">Image Url</label>
                <input id="imageUrl"
                       th:field="*{imageUrl}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Image Url"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Image Url is required.
                </p>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Add Brand"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:include="~{fragments/footer}"/>
</body>
</html>
