<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrewBox | Онлайн магазин за кафе</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<div th:replace="fragments/navbar">Navbar</div>


<body>

<div id="hero-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
        <li data-target="#hero-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img class="d-block w-100 c-img" th:src="@{/images/slide-1.jpg}" alt="First slide">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Discover the world's best coffee!</p>
                <h1 class="display-1 fw-bolder text-capitalize">Everything we offer!</h1>
                <a class="btn btn-primary px-4 py-2 fs-5 mt-5" href="/products" role="button">See all products</a>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img class="d-block w-100 c-img" th:src="@{/images/slide-2.jpg}" alt="Second slide">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Discover the world's best coffee!</p>
                <h1 class="display-1 fw-bolder text-capitalize">Everything we offer!</h1>
                <a class="btn btn-primary px-4 py-2 fs-5 mt-5" href="/products" role="button">See all products</a>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img class="d-block w-100 c-img" th:src="@{/images/slide-3.jpg}" alt="Third slide">
            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Discover the world's best coffee!</p>
                <h1 class="display-1 fw-bolder text-capitalize">Everything we offer!</h1>
                <a class="btn btn-primary px-4 py-2 fs-5 mt-5" href="/products" role="button">See all products</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#hero-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<th:block th:include="~{fragments/footer}"/>
</body>
</html>