<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrewBox | Онлайн магазин за кафе</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<div th:replace="fragments/navbar">Navbar</div>


<body>

<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="height: 969px;">
            <div class="banner-content col-lg-7">
                <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                <h1>
                    Start your day with <br>
                    a coffee from BrewBox!
                </h1>
                <a href="#" class="primary-btn text-uppercase">Buy Now</a>
            </div>
        </div>
    </div>
</section>

<section class="menu-area section-gap" id="coffee">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Cappuccino</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Americano</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Espresso</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Macchiato</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Mocha</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Coffee Latte</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Piccolo Latte</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Ristretto</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Affogato</h4>
                        <p class="price float-right">
                            $49
                        </p>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>