<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Product</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<div th:replace="fragments/navbar">Navbar</div>

<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm text-center">
            <div style="width: 460px; height: 500px">
                <img id="bigImage" th:src="@{${product.imageUrl}}" index="0" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div>
            <h2>[[${product.name}]]</h2>
        </div>
        <div>
            <span>Brand: [[${product.brandName}]]</span>
        </div>
        <div>
            <span>Price: [[${product.price}]]</span>
        </div>
        <div th:utext="${product.description}">
        </div>
    </div>

    <div class="col-sm-2">
        <div th:replace="quantity-control :: quantity-control(1, ${product.id})">Quantity</div>

        <div>
            <button class="btn btn-primary" id="buttonAdd2Cart">Add to Cart</button>
        </div>

    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form th:action="@{/comment/add/product/{pid}(pid = ${product.id})}"
                      th:method="post"
                      th:object="${commentDTO}">
                    <h3 class="pull-left">New Comment</h3>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control"
                                          id="message"
                                          th:field="*{text}"
                                          th:errorclass="is-invalid"
                                          placeholder="Your comment"></textarea>
                                <p class="invalid-feedback errors alert alert-danger">
                                    Write your comment.
                                </p>
                                <input type="submit" class="btn btn-info btn-lg" value="Submit"/>

                            </div>
                        </div>
                    </fieldset>
                </form>

                <h3>
                    <th:block th:text="${#lists.size(comments)}"></th:block>
                    Comments
                </h3>
                <!-- COMMENT - START -->
                <div class="media" th:each="comment: ${comments}">
                    <a class="pull-left">
                        <img class="media-object" src="/images/user-icon.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">[[${comment.user.username}]]</h4>
                        <p>[[${comment.text}]]</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>[[${comment.date}]]</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right"
                            sec:authorize="hasRole('ADMIN') || hasRole('MODERATOR')">
                            <li class=""><a th:href="@{/comment/delete/{cid}/product/{pid}(cid = ${comment.id}, pid = ${product.id})}">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT - END -->
            </div>
        </div>
    </div>
</section>

<th:block th:include="~{fragments/footer}"/>

</body>
</html>