<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Search</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Search for Product</h2>
    <form
            th:method="GET"
            th:action="@{/products/search}"
            th:object="${searchProductDTO}"
            class="form-inline"
            style="justify-content: center; margin-top: 50px;"
    >
        <div style="position: relative">
            <input
                    th:field="*{brandName}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="search"
                    placeholder="Brand..."
                    aria-label="Search"
                    id="brand"
            />
            <input
                    th:field="*{minPrice}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="number"
                    min="0"
                    placeholder="Min price..."
                    aria-label="Search"
                    id="minPrice"
            />
            <input
                    th:field="*{maxPrice}"
                    th:errorclass="is-invalid"
                    class="form-control mr-sm-2"
                    style="width: 280px;"
                    type="number"
                    min="0"
                    placeholder="Max price..."
                    aria-label="Search"
                    id="maxPrice"
            />
            <small
                    id="searchOfferHelpInline"
                    class="bg-danger text-light rounded invalid-feedback"
                    style="width: 97%; position: absolute; padding: 3px 15px; text-align: center;"
            >
                Try writing something this time.
            </small>
        </div>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<section th:each="product: ${products}">
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img th:src="${product.imageUrl}" class="w-100"/>
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask"
                                                 style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h4>[[${product.name}]]</h4>
                                <div class="d-flex flex-row">
                                    <span><b>Brand:</b> [[${product.brandName}]]</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>Category: [[${product.categoryName}]]</span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Weight: [[${product.weight}]]</span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">[[${product.description}]]</p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">[[${product.price}]]лв./бр.</h4>
                                </div>
                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-primary px-4 py-2 fs-5 mt-3" role="button"
                                       th:href="@{/product/{id}(id = ${product.id})}">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h3 th:if="${products != null && products.size() == 0}" class="text-info">
    There are no products with this brand within this price range!
</h3>

<th:block th:include="~{fragments/footer}"/>

</body>
</html>