<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order placed!</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<div th:replace="fragments/navbar">Navbar</div>


<body>
<div>
    <h2>Your order has been placed! Your order number is [[${order.id}]] with total price - [[${order.price}]]лв.!</h2>
    <a class="btn btn-primary px-4 py-2 fs-5 mt-5" href="/" role="button">Back to homepage!</a>
</div>


<th:block th:include="~{fragments/footer}"/>
</body>
</html>