<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
    <th:block th:include="~{fragments/head}"/>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div>
    <hr2>Your Shopping Cart:</hr2>
    </br>
</div>

<div class="row m-1">
    <div class="col-sm-8">
        <th:block th:each="cartItem : ${cartItems}">
            <div class="row border rounded">
                <div class="col-1">
                    <li class=""><a
                            th:href="@{/cart/delete/product/{pid}(pid = ${cartItem.product.id})}">Delete</a>
                    </li>
                </div>
                <div class="col-3">
                    <img th:src="@{${cartItem.product.imageUrl}}" class="img-fluid"/>
                </div>
                <div class="col-6">
                    <div>
                        <a th:href="@{/product/{id}(id = ${cartItem.product.id})}">
                            <b>[[${cartItem.product.name}]]</b>
                        </a>
                    </div>
                    <div>Quantity:</div>
                    <div>[[${cartItem.quantity}]]</div>
                    <div>
                        <span>X</span>
                        <span>[[${cartItem.product.price}]]лв.</span>
                    </div>
                    <div>
                        <span>=&nbsp;</span><span class="h4 productSubtotal">[[${cartItem.getSubtotal()}]]</span><span
                            class="h4">лв.</span>
                    </div>
                </div>
            </div>
            <div class="row m-1">&nbsp;</div>
            <script type="text/javascript">
                contextPath = "[[@{/}]]";
                var csrfHeaderName = "[[${_csrf.headerName}]]"
                var csrfValue = "[[${_csrf.token}]]";
                var productId = [[${cartItem.product.id}]]







            </script>
        </th:block>
    </div>

    <div class="col sm-4" th:unless="${#lists.isEmpty(cartItems)}">
        <div>
            <span class="h3">Estimated Total:</span>
        </div>
        <div class="mt-2">
            <span class="h2" id="totalAmount"></span>
        </div>
        <form th:action="@{/cart/checkout}"
              th:method="post"
              th:object="${addOrderDTO}"
              class="mt-2">
            <textarea class="form-control"
                      id="message"
                      th:field="*{additionalInformation}"
                      placeholder="Anything additional to your order?"></textarea>
            <input type="submit" class="btn btn-danger p-3 mt-2" value="Check Out"/>
        </form>
    </div>
</div>

<div th:if="${#lists.isEmpty(cartItems)}">
    <h3>You have not chosen any products yet.</h3>
</div>


<th:block th:include="~{fragments/footer}"/>

</body>
</html>